/* enlaces utiles: 
https://css-tricks.com/almanac/ 
http://paletton.com   
*/
body{
	background-image: url(i-solo.jpg);
	background-size: cover;
}

h2 {
	color: #AA4139;
	text-align: center;
	border: 5px solid purple; /* dashed */
	cursor: pointer;
}

p{
	color: green;
}

li{
	list-style: none;
	display: inline-block;
}